<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LIEBHERR.DymoDoc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
      <target name="logfile" xsi:type="File" fileName="Log/log.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level:uppercase=true}|${message}" archiveFileName="${LogHome}/Archive/log-${shortdate}.txt" maxArchiveFiles="1" archiveEvery="Day" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
  </nlog>
    <userSettings>
        <LIEBHERR.DymoDoc.Properties.Settings>
            <setting name="EditorPath" serializeAs="String">
                <value>C:\Program Files (x86)\Notepad++\notepad++.exe</value>
            </setting>
            <setting name="PdfHelpFile" serializeAs="String">
                <value>Assets\Pdf\Dymola.pdf</value>
            </setting>
            <setting name="MardownDymolaResources" serializeAs="String">
                <value>E:\Test_MarkDownDymolaResources</value>
            </setting>
            <setting name="Workspace" serializeAs="String">
                <value>M:\DATA\USER\BRUNO\Test_Workspace</value>
            </setting>
            <setting name="LTSLibraryPath" serializeAs="String">
                <value>E:\Test_LTSLIbrary\Modelica_</value>
            </setting>
            <setting name="TmpPath" serializeAs="String">
                <value>M:\Test_Tmp</value>
            </setting>
            <setting name="ResizeSpan" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ResizeDiv" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="ResizeSpanCrop" serializeAs="String">
                <value>30</value>
            </setting>
        </LIEBHERR.DymoDoc.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.13.0" newVersion="5.8.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.0.0" newVersion="5.11.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>